.images {
  height: 100%;
  width: 80%;
}

#main_contianer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  column-gap: 10px;
  row-gap: 105px;
}
.item_holder {
  margin-top: 20px;
  margin-left: 20%;
}
.form-control{
  margin-top: 10px;
  width: 80%;
}