#signInForm {
  margin-top: 110px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#formItSelf {
  border: solid 2px gray;

  border-radius: 6px;
  width: 500px;
}
#signInBTN {
  margin-left: 0%;
}
#firsName {
  margin-top: 20px;
}
